@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --font-primary: jetbrains-Mono; 
  --color-primary: #020617;           
}
@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  html {
    scroll-behavior: smooth;
  }
}